*{
	margin: 0;
	padding: 0;
}
.flex {
	display: flex;
}
.block {
	margin-left: 3%;
	font-family: Arial;
	text-align: center;
}
p{
	color: red;
	margin-top: 10%;
	font-size: 28px;
	font-weight: 100;
}
h2{
	color: grey;
	margin-top: 10%;
	font-size: 28px;
	font-weight: 100;
}